{% extends "base.html.j2" %}
{% block content %}

<a href="{{ request.referrer or url_for('vagas.listar_vagas') }}"
   class="btn btn-outline-secondary mb-3">
   ← Voltar
</a>

<div class="card shadow">
  <div class="card-body">
    <h3>{{ vaga.titulo }}</h3>
    <p class="text-muted">{{ vaga.localizacao }}</p>

    <hr>

    <h5>Descrição</h5>
    <p>{{ vaga.descricao }}</p>

    <h5>Requisitos</h5>
    <p>{{ vaga.requisitos }}</p>

    {% if current_user.is_authenticated and current_user.role == "candidato" %}
      <form method="post"
            action="{{ url_for('candidaturas.candidatar', vaga_id=vaga.id) }}">
        <button class="btn btn-success mt-3">
          Candidatar-se
        </button>
      </form>
    {% endif %}
  </div>
</div>

{% endblock %}
