{% extends "base.html.j2" %}

{% block title %}Início | Portal Emprego{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="mb-3">Bem-vindo ao Portal de Emprego</h1>
    <p class="lead">
        Encontre vagas, conecte-se com empresas e construa a sua carreira.
    </p>

    {% if not current_user.is_authenticated %}
        <a href="{{ url_for('auth.register') }}" class="btn btn-primary">
            Criar Conta
        </a>
    {% endif %}
</div>
{% endblock %}
